#ptitle {
    width: 50%;
    padding: 12px;
    margin: 8px 0;
    
}
#pcontent {
    width: 50%;
    height: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 8px 0;
    
} 