<!DOCTYPE html>
{% extends 'base.html' %}

<head>
    
    <title> {{postone.post_title}} </title>
    
</head>

{% block content0 %}
<h2> Edit Post </h2>
<form method="POST" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change Post" />
</form>
{% endblock %}

{% block content1 %}
<a href="/blog/archive/">
    <button>Back</button>
</a>    
{% endblock %}

{%comment%}
2. add "post successfully edited" to the page - may require the messaging module
4. add the condition that post title cannot be empty 
5. deleteview
6. the "Back" button does not reload/redirect to postview ?do i even need it?
{%endcomment%}