{% extends 'base.html' %}

{% block title %} MyBlog - Home {% endblock %}

{% block content0 %}
<p>Menu</p>
{% if user.is_authenticated %}
<p><a href="{% url 'blog:adarchive' %}">Blog Archive</a></p>
<p><a href="{% url 'blog:galleries' %}">Gallery Archive</a></p>
<p><a href="{% url 'blog:about' %}">About Me</a></p>
<p><a href="{% url 'blog:logout' %}">Logout</a></p>
{% else %}
<p><a href="{% url 'blog:archive' %}">Blog Archive</a></p>
<p><a href="{% url 'blog:galleries' %}">Gallery Archive</a></p>
<p><a href="{% url 'blog:about' %}">About Me</a></p>
<p><a href="{% url 'blog:login' %}">Login</a></p>
{% endif %}
{% endblock %}

{% block content1 %}
<p> Front page image here </p>
{% endblock %}

<p> Header </p>

<p> Footer </p>