{% extends 'base.html' %}

<head>
    
    <title> {{postone.post_title}} </title>

</head>
{% block content0 %}

    {% if postone.post_draft == True %}
    <p> THIS POST IS A DRAFT! </p>
    {% else %}
    <p> This post is live </p>
    {% endif %}
   
    <p><h2> {{postone.post_title}}</h2></p>

    <p> {{postone.post_content|linebreaks}} </p>

    <p><h3>  Created at:  {{postone.created_at}} </h3></p>
    <p><h3>  Last updated at: {{postone.updated_at}}</h3></p> 

    <p> Tags </p>
    {% if tags %}
        {% for tag in tags %}
            {{ tag }}
        {% endfor %}
    {% else %}
        <p>No tags to display</p>
    {% endif %}

    <p> Comments </p>
    {% if comment_count != 0 %}
    <p> There are {{comment_count}} comments. <a href="/blog/{{postone.post_id}}/comments"> See comments </a></p>

    {% elif comment_count == 0 %}
    <p> There are no comments posted yet.</p> 
    <p> <a href="/blog/{{postone.post_id}}/comments"> Add comment? </a></p>
    {% endif %}  
{% endblock %}

{% block content1 %} 
    {% if user.is_authenticated %}
    <a href="/blog/{{postone.post_id}}/editview/">
         <button>Edit Post</button></a>
    
    <a href="/blog/{{postone.post_id}}/refuseview/">
        <button> Delete Post</button></a> 

        {% if postone.post_draft == True %}
        <form action="/blog/{{postone.post_id}}/publish/" method="POST">
            {% csrf_token %}
            <input type="submit" value="Publish post">
        </form>
        {% elif postone.post_draft == False %}
        <form action="/blog/{{postone.post_id}}/unpublish/" method="POST">
            {% csrf_token %}
            <input type="submit" value="Unpublish post">
        </form>
        {% endif %}
    {% endif %}

{% endblock %}

{% block content3 %}
{%if postone.post_draft == True %}
    <a href="/blog/adarchive/">
         <button>Back</button>
    </a>
{% else %}
    <a href="/blog/archive/">
        <button>Back</button>
    </a>    
{% endif %}
{% endblock %}

{%comment%}
Did not work <button onclick="href='blog/{{postone.post_id}}/editview/'"> Edit Post</button> | <button onclick="href='blog/{{postone.post_id}}/thermos/'"> Delete Post</button> 
Worked       <button onclick="href='blog/{{postone.post_id}}/'"> Back </button>                <button onclick="href='blog/{{postone.post_id}}/'"> Back </button>

Worked <a href="/blog/{{postone.post_id}}/editview/"> Edit Post</a> | <a href="/blog/{{postone.post_id}}/refuseview/"> Delete Post</a> 
Did not work

{%endcomment%}

